<link rel="stylesheet" type="text/css" href="stylesheet.css">

#masthead {
  margin: 0 auto;
  width: 900px;
  text-size:1.25em;
  font-weight:600;
  text-align: center;
  margin-top:20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right:0;
}

#content {
  margin: 0 auto;
  width: 900px;
  text-size:2em;
}


.headline {
  text-transform:uppercase;
  font-size:1.5em;
  font-weight:600;
  text-align:center;
  margin-top:20px;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
}
