<link rel="stylesheet" type="text/css" href="stylesheet.css">

#content {
  margin: 0 auto;
  width: 900px;
}

.title {
  color:#33485e
  text-transform:uppercase;
  font-size:1.5em;
  font-weight:600;
  text-align:center;
  margin-top:20px;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
