<link rel="stylesheet" type="text/css" href="stylesheet.css">

#content {
  margin: 0 auto;
  width: 900px;
  text-align: center;
  columns: 100px 1;
  margin: auto;
}

p {
  font-family: helvetica, arial, sans-serif;
  text-size: 12px;
  text-align: center;
}

.byline {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  font-size:.75em;
}

h1 {
    font-family: 'Arvo', georgia ,serif;
    text-transform: uppercase;
    font-size:20px;
    font-weight:700;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:0;
    margin-left:0;
  }

h2 {
    font-family: 'Arvo', georgia, serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

figcaption {
  font-family: helvetica, arial, sans-serif;
  font-size: 10px;
}
